body {
  font-size: 16px;
  font-family: "Fira Mono", monospace;
  margin: 0;
  background: #2A363B;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}


header{
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  justify-content: space-around;
}

header .img{
  flex-basis: 50%;
}

header .img img{
  margin-left: 10px;
}

header .top-social a{
  margin-left: 20px;
}

.mobile-logo{
  display: none;
}

.menu {
  background: #F67280;
  height: 4rem;
}
.menu ol {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.menu > ol {
  max-width: 1000px;
  padding: 0 2rem;
  display: flex;
}
.menu > ol > .item {
  flex: 1;
  padding: 0.75rem 0;
}
.menu > ol > .item:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 2px);
  background: #FECEAB;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.2s ease;
}
.menu > ol > .item:hover:after {
  transform: scale(1);
}
.item {
  position: relative;
  line-height: 2.5rem;
  text-align: center;
}
.item a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #FFF;
}
.sub-menu .item {
  padding: 0.75rem 0;
  background: #F67280;
  opacity: 0;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}
.sub-menu .item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}
.sub-menu .item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.sub-menu .item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}
.sub-menu .item:hover {
  background: #F8B195;
}
.sub-menu .item a {
  padding: 0 0.75rem;
}
@media screen and (max-width: 600px) {
  .sub-menu .item {
    background: #C06C84;
  }
}






@media screen and (max-width: 600px) {

  header{
    display: none;
  }
  .mobile-logo{
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 4558585;
   }
   .mobile-logo img{
      width: 250px;
   }

  .menu {
    position: relative;
  }


  .menu:after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 1rem;
    width: 30px;
    height: 4px;
    background: #FFF;
    box-shadow: 0 10px #FFF, 0 -10px #FFF;
  }
  .menu > ol {
    display: none;
    background: #F67280;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    animation: fade 0.2s ease-out;
  }
  .menu > ol > .item {
    flex: 0;
    opacity: 0;
    animation: enter 0.3s ease-out forwards;
  }
  .menu > ol > .item:nth-child(1) {
    animation-delay: 0s;
  }
  .menu > ol > .item:nth-child(2) {
    animation-delay: 0.1s;
  }
  .menu > ol > .item:nth-child(3) {
    animation-delay: 0.2s;
  }
  .menu > ol > .item:nth-child(4) {
    animation-delay: 0.3s;
  }
  .menu > ol > .item:nth-child(5) {
    animation-delay: 0.4s;
  }
  .menu > ol > .item + .item {
    margin-top: 0.75rem;
  }
  .menu > ol > .item:after {
    left: auto;
    right: 1rem;
    bottom: calc(50% - 2px);
  }
  .menu > ol > .item:hover {
    z-index: 1;
  }
  .menu:hover > ol {
    display: flex;
  }
  .menu:hover:after {
    box-shadow: none;
  }
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
.item:hover > .sub-menu {
  display: block;
}

@media screen and (max-width: 600px) {
  .sub-menu {
    width: 100vw;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}



a {
  text-decoration: none;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


 
.center{
	text-align: center;
	color: white;
	font-family: monospace; 
	font-size: 40px;
	border: 1px solid blue;
  padding: 10px;
  box-shadow: 5px 10px;
}

.slides{
	 margin-left: 400px;
	 
}
 
.mySlides{
	width: 70%;
}








.ji{
	
	 margin-top: 50px;
	
	  margin-right: 100px;
}
.image{
	height:400px;
	width:400px;
}

.aboutrally{
	text-align: center;
	font-family: Blipp; 
	font-size: 30px;
	font-family:algerian;
	color: white;
}
.abo{
	text-align: center;
	font-family: Blipp; 
	font-size: 30px;
	font-family:algerian;
		color: black;
}

.content{
	margin-left:450px;
	margin-top:-300px;
	font-family: arial black; 
	color: white;
}


.ka{
	 background-color: white;
	  height: 500px;
	  text-align: center;
	  font-family:arial;
	  	font-size: 30px;
}

.image2{
	height:400px;
	width:400px;
	margin-left:450px;
	margin-top:300px;
}
.down{
	text-align: center;
	padding-top: 200px;
	 font-family:algerian;
}


.fa{
	color:white;
	font-size:30px;
}
.j{
	color:white;
	text-align: center;
}


.ha{
	text-align: center;
	 font-family:algerian;
	 color: white;
}

 

.form{
		text-align: center;
		margin: 20px auto;
}
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     width: 50%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     border:solid red;
	  border-radius: 12px;
	   
    }
  
  #input-submit {
     color: white; 
     background: red;
     cursor: pointer;
    
    
  }
  
  textarea {
      height: 126px;
  }


.right {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.side { 
width: 50%; 
}

.sidea {
     margin-right: 50%; 
}

  .right {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }

.form:before,
.form:after {
    content: " "; 
    display: table; 
}

.form:after {
    clear: both;
}
.klo{
	text-align: center;
	color:white;
}








div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  height: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 15px;
  text-align: center;
  color: white;
}


.mas{
	color: white;
}

 



.search{
  float: right;
}
.search button:hover {
  background: #ccc;
   cursor: pointer;
}




.z{
	 background: #f1f1f1; 
}
input[type=text]:focus, input[type=password]:focus {  
  background-color: lightblue;  
  outline: none; 
  
} 
 .register {  
  background-color:lightblue ;  
  color: white;  
  cursor: pointer;   
    padding: 16px 20px;
	 margin-left: 500px
}  
.register:hover {  
  opacity: 1;  
} 
 .g{
	  background-color: black; 
 }
 .hire{
	 text-align: center;
 }
 
 
 
 .la{
	 color:white;
 }
 .hc{
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
  
 }
 .bo{
	   margin: auto;
	   padding: 2px;
	   background-color: white;
 }
 .fag{
	 text-align: center;
	 font-family: algerian;
	 font-size: 60px;
 }
 .gallery{
	 width:600px; 
	 height:400px;
	 background-color:black;
 }
 
 
 
 
 
 
 
 
 
 
 
 .h{
	 background-color: white;
 }
 .jiv{
	 margin-top: 100px;
	 text-align: center;
	 font-family: algerian;
	 font-size:40px;
	  
 }
 